<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a full stack developer with professional expertise in the field of web
      development with javascript & ReactJs. Currently, doing BSc. in Computer Science & Engineering at
      <a class="underline-link" href="https://daffodilvarsity.edu.bd/" target="_blank">Daffodil International
        University(last semester)</a>
    </p>

    <p>
      I’m too passionate when it comes to web technologies. My biggest strength is that I’m too determined to achieve my goals 
      which also provides me the advantage of learning fast.
    </p>

    <p>
      <strong>I'm always in front of a computer screen</strong>, either learning new things or watching kdrama.
    </p>

    {% include employment-status.html %}
  </div>
</section>